.all-panel {
    /*border: 2px solid #000000;*/
    background-color: #efefef;
    /*width: 1000px;*/
    min-width: 960px;
    width: 100%;
    /*height: 800px;*/
    height: calc(100vh - 16px);
    display: flex;
    flex-flow: row;
}

/* left */
.control-panel {
    /*height: 100%;*/
    background-color: #dedede;
    /*margin: 10px;*/
    border: 1px solid darkgray;
    flex: 1;

    display: flex;
    flex-flow: column;
    overflow: auto;
}

.menu-panel {
    /*height: 30px;*/
    background-color: aliceblue;
    padding: 5px;
    /*padding-left: 20px;*/
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
}

.menu-panel button {
    height: 32px;
    font-size: 16px;
}

.info-panel {
    /*width: 200px;*/
    background-color: #e0e0e0;
    margin: 8px;
    display: grid;
}

.info {
    font-size: 20px;
    /*margin-bottom: 15px;*/
}

/* center */
.game-panel {
    /*height: 100%;*/
    background-color: #dedede;
    /*margin: 10px;*/
    border: 1px solid darkgray;
    flex: 4;
    display: flex;
    flex-flow: row;
    overflow: auto;
}

.game-box {
    height: calc(100% - 10px);
    background-color: #3e3e3e;
    position: relative;
    /*margin: 10px;*/
    border: 5px solid black;
    flex: 6;
    overflow: auto;
}

/* center - pause menu */

.game-panel .pause {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(165, 165, 165, 0.9);
    text-align: center;

    display: none;
    /*display: flex;*/
    flex-flow: column;
}

#pause-parameters {
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    width: 400px;
    padding: 10px;
    /*height: 400px;*/
    background-color: rgba(255, 192, 203, 0.58);
    font-size: 18px;
    line-height: 25px;
    /*z-index: 1;*/
    align-self: center;
    text-align: end;
    /*cursor: none;*/
    user-select: none;
    /*flex: 3;*/
    table-layout: fixed;
    display: flex;
    /*grid-template-columns: 2fr 1fr;*/
    /*grid-template-rows: 1fr 1fr;*/

    flex-flow: column;
    /*align-items: center;*/
}

.buttons {
    height: 40px;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

.buttons > button {
    background-color: #dedede;
    font-size: 18px;
}

.game-panel .finish {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(224, 224, 224, 0.66);
    text-align: center;

    display: none;
    /*display: flex;*/
    flex-flow: column;
}

#div-finish {
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 400px;*/
    padding: 10px;
    /*height: 400px;*/
    background-color: rgba(255, 192, 203, 0.58);
    font-size: 18px;
    line-height: 25px;
    align-self: center;
    /*text-align: end;*/
    /*cursor: none;*/
    /*user-select: none;*/
    /*flex: 3;*/
    display: flex;
    /*grid-template-columns: 2fr 1fr;*/
    /*grid-template-rows: 1fr 1fr;*/

    flex-flow: column;
    /*align-items: center;*/
}

#finish-table {
    padding: 10px;
    height: 300px;
    /*background-color: rgba(255, 192, 203, 0.58);*/
    font-size: 18px;
    line-height: 24px;
    align-self: center;
    /*user-select: none;*/
    table-layout: fixed;
    display: flex;
    flex-flow: column;
    overflow-y: scroll;
}


/* right */

.help-panel {
    background-color: #dedede;
    /*margin: 10px;*/
    padding: 6px;
    border: 1px solid darkgray;
    flex: 1;
    overflow-y: scroll;
}

.help-panel summary {
    font-size: 20px;
    cursor: pointer;
}

.help-panel details {
    margin-top: 10px;
}

.help-panel p {
    margin-top: 2px;
    margin-bottom: 10px;
}
